<div class="row" ng-init="checkUserRights()" >
    <div class="col-md-6 col-md-offset-3">
        <h4> Izveidot jaunu lietotāju: </h4>
        <div class="form-group">
            Lietotājvārds: <input type="text" ng-model="lietotajs.username" class="form-control" />
            Parole: <input type="password" ng-model="lietotajs.password" class="form-control" />
            Vārds: <input type="text" ng-model="lietotajs.name" class="form-control" />
            Uzvārds: <input type="text" ng-model="lietotajs.surname" class="form-control" />

        </div>
        <button type="button" class="btn btn-default" ng-click="createUser()"> Pievienot lietotāju </button>

    </div>
</div>



